<!-- example document to work on tierbox
	the actual implementation will be in js directly
-->
<div class="tierbox">
	<div class="tierheader">
		<div class="recipe_checkbox"></div><!-- status button -- only appears for item and recipe boxes -->
		<label class="title1"></label> <!-- item, machine, etc -->
		<label class="title2"></label> <!-- recipe -- only appears for recipe boxes -->
		<button class="validate"></button> <!-- only appears in box edit mode -->
		<button class="editswitch"></button> <!-- edit/view -- only appears for item and recipe boxes -->
	</div>
	<div class="tiercontent">
		<!-- whatever content to be set inside -->
	</div>
</div>