/* General */
.box {
	display: inline-block;

	&.tier { width: 100%; }

	> .content {
		border: 1px dashed var(--gray5);
		border-top-width: 0;
		padding: 5px;
		overflow: hidden;

		display: flex;
		flex-wrap: wrap;
	}

	&.container > .content {
		gap: 20px;
	}

	/* Header */
	> .header {
		background: var(--gray5);
		
		font-weight: bold;
		font-size: large;

		padding: 5px;
		padding-left: 10px;

		display: flex;
		justify-content: space-between;
		gap: 2rem;

		white-space: nowrap;
		
		.title1, .title2 { padding: 3px 0 1.7px 9px; } /* mimic the dropdown placement for a somewhat seamless transition*/
		.title2 { display: none; }

		> .left, > .right { display: flex; gap: 1rem; }

		button.collapse { display: unset; } /* Collapse button always available */

		> .selector { display: none; }
	}
	&.recipe > .header .title2 { display: unset; } /* only show title2 for recipes */

	/* Buttons */
	> .header button { display: none; }

	&.item, &.recipe {
		.header {
			button.status, button.edit { display: unset; } /* Edit and status buttons are available for reciepes and items */
		}
	}

	&.edit {
		&.item, &.recipe {
			button.validate { display: unset; } /* Validate button is only available in edition */
		}

		> .header {
			.selector, .selector select { display: unset; } /* Show dropdown in edit mode*/
		}

		
		&.item > .header .title1,
		&.recipe > .header .title2 { display: none; } /* Hide first title for item, hide second for recipe */
	}

	&.collapsed > .content { height: 0px; padding: 0; }

	/* Header input */
	.selector {
		select { display: none; }
		.select2-selection { background: inherit; }
		.select2-selection__rendered { color: inherit; }
		.select2-selection__arrow b { border-color: white transparent transparent transparent; }
		.select2-container--open .select2-selection__arrow b { border-color: transparent transparent white transparent; }
		.select2-container--open .select2-selection { border-color: var(--orangesatis); border-bottom: 0;}

		&:hover {
			color: var(--orangesatis);
			
			.select2-selection { border-color: var(--orangesatis); }
			.select2-selection__arrow b { border-color: var(--orangesatis) transparent transparent transparent; }
			.select2-container--open .select2-selection__arrow b { border-color: transparent transparent var(--orangesatis) transparent; }
		}
	}

	/* Multi item input */
	&.item_multi > .content {
		display: flex;
		flex-direction: column;
		gap: 5px;
		
		> .item {
			display: flex;
			flex-direction: row;
			gap: 5px;

			input.amount { margin-left: auto; width: 75px; text-align: right; }
		}
	
		> .buttons {
			display: flex;
			flex-direction: row-reverse;
			gap: 5px
		}

		span.small { margin-top: auto; }
	}

	/* Base resource box */
	.baseresource .content {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 5px;

		max-height: 30vh;
		overflow-y: auto;

		.resource {
			border: 1px dashed var(--gray5);
			padding: 3px 3px 3px 5px;
			display: flex;
			align-items: center;
	
			button.delete {
				margin-left: auto;
				aspect-ratio: 1;
				padding: 0;
				min-width: 1.75rem;
				
				&::before {
					content: "\e872";
					margin: 0;
				}
			}
		}
	}

	&.configuration, &.information {
		> .content > .box {
			max-width: 450px;
		}
	}
}