:root {
	--gray3: #333;
	--gray5: #555;
	--gray7: #777;
	--graya: #aaa;
	--whitec: #ccc;
	--orangesatis: #FA9649;
	--checkgreen: #30dd30;
}

/* General */
html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--gray3);
	color: white;
	font-family: "Segoe UI", sans-serif;
	display: flex;
	flex-direction: column;
}

* { box-sizing: border-box; }

*::before {
	font-family: 'Material Symbols';
	vertical-align: sub;
	margin-right: 3px;
	font-size: 1.5em;
	display: inline-block;
}

button {
	font-family: inherit; 
	background: inherit;
	color: white;
	border: 1px dashed var(--gray7);
	padding: 2px 5px 2px;
	
	&:hover {
		cursor: pointer;
		color: var(--orangesatis);
	}

	&:active {
		color: white;
		background: var(--orangesatis);
	}
	
	&::before {
		margin-right: 5px;
		baseline-shift: -5px;
	}

	&.smallbutton {
		aspect-ratio: 1; 
		padding: 0;
		min-width: 1.75rem;

		&::before { margin: 0; }
	}
}

input {
	color: white;
	font: inherit; 
	background: inherit;
	border: 1px solid var(--gray7);
	min-width: 50px;
	width: auto;

	&:hover{ border-color: var(--orangesatis); }

	&:focus-visible {
		color: var(--orangesatis);
		border-color: var(--orangesatis);
	}
}

input:focus, div.selector *:focus { outline: none; }

.hidden { display: none; }

/* Page header */
body > .header {
	background: var(--gray5);
	padding: 5px 5px 5px 10px;
	
	h1 { margin: 0px; }

	div {
		color: var(--whitec);
		margin-left: 10px
	}
}

/* Page footer */
body > .footer {
	background: var(--gray5);
	padding: 5px 10px;

	p { margin: 0px; float: left; }

	a {
		color: white;
		font-weight: bold;
		text-decoration: unset;
		float: right;

		&::before { content: "\e157"; font-size: 1.25em; } /* link icon */
		&:hover { color: var(--orangesatis); }
	}
}

/* Page content */
body > .content {
	flex: 1;
	padding: 5px;
}

.high { color: var(--orangesatis); }
.light { color: var(--whitec); font-size: 14px; }
.small { font-size: 12px; }

h1 { background: var(--gray5); }

th { border: 1px dashed var(--gray5); }

td, th {
	padding: 2px 8px;
	font-size: 16px;
}

/* Button icons */
button.validate::before { content: "\e5ca"; } /* Check */
button.delete::before { content: "\e872"; } /* Trash */
button.add::before { content: "\e145"; } /* Add */
button.edit::before { content: "\e3c9"; } /* Pen */
.edit button.edit::before { content: "\e5cd"; } /* Cross */
button.status.wip::before { content: "\e726"; } /* Cog */
button.status.done::before { content: "\e5ca"; } /* Check */
button.collapse::before { content: "\e5c5"; } /* Down arrow */
.collapsed button.collapse::before { content: "\e5df"; } /* Right arrow when collapsed */
button.import::before { content: "\f09b"; } /* upload */
button.export::before { content: "\f090"; } /* download */
button.reset::before { content: "\e042"; } /* reset */

.collapseall {
	display: block;
	padding: 5px;
	margin: 5px 5px 5px 0;
	border: 0;
	background: var(--gray5);
	font-weight: bold;
	font-size: 16px;
}

/* Import export buttons */
input.import { display: none; }
.loads {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/* Select2 customization */
.select2-container--default .select2-selection--single { border-radius: 0; }
.select2-container--default .select2-results .select2-results__option--selected { background: var(--gray5); }
.select2-container--default .select2-results .select2-results__option--highlighted.select2-results__option--selectable { background: var(--orangesatis); }

.select2-container .select2-dropdown {
	background: var(--gray5); border-radius: 0; border-color: var(--orangesatis);

	input { background: inherit; color: inherit; font: inherit; }
}