:root {
	--gray3: #333;
	--gray5: #555;
	--gray7: #777;
	--graya: #aaa;
	--whitec: #ccc;
	--orangesatis: #FA9649;
	--checkgreen: #30dd30;
}

/* General */
html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--gray3);
	color: white;
	font-family: "Segoe UI", sans-serif;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

*::before {
	font-family: 'Material Symbols';
	vertical-align: sub;
	margin-right: 3px;
	font-size: 1.5em;
	display: inline-block;
}

button {
	font-family: inherit; 
	background: inherit;
	color: white;
	border: 1px dashed var(--gray7);
}

button:hover {
	cursor: pointer;
	color: var(--orangesatis);
}

button:active {
	color: white;
	background: var(--orangesatis);
}

input {
	color: white;
	font: inherit; 
	background: inherit;
	border: 1px solid var(--gray7);
	min-width: 50px;
	width: auto;
}

input:hover{ border-color: var(--orangesatis); }

input:focus-visible {
	color: var(--orangesatis);
	border-color: var(--orangesatis);
}

input:focus, div.selector *:focus { outline: none; }

.hidden { display: none; }

/* Page header */
body > .header {
	background: var(--gray5);
	padding: 5px 5px 5px 10px;
}

body > .header h1 { margin: 0px; }

body > .header div {
	color: var(--whitec);
	margin-left: 10px
}

/* Page footer */
body > .footer {
	background: var(--gray5);
	padding: 5px 10px;
}

body > .footer p { margin: 0px; float: left; }

body > .footer a {
	color: white;
	font-weight: bold;
	text-decoration: unset;
	float: right;
}

body > .footer a::before { content: "\e157"; font-size: 1.25em; } /* link icon */
body > .footer a:hover { color: var(--orangesatis); }

/* Page content */
body > .content {
	flex: 1;
	padding: 5px;
}

.high { color: var(--orangesatis); }
.light { color: var(--whitec); font-size: 14px; }
.small { font-size: 12px; }

h1 { background: var(--gray5); }

th { border: 1px dashed var(--gray5); }

td, th {
	padding: 2px 8px;
	font-size: 16px;
}

/* Button icons */
button.validate::before { content: "\e5ca"; } /* Check */
button.delete::before { content: "\e872"; } /* Trash */
button.add::before { content: "\e145"; } /* Add */
button.edit::before { content: "\e3c9"; } /* Pen */
.edit button.edit::before { content: "\e5cd"; } /* Cross */
button.status.wip::before { content: "\e726"; } /* Cog */
button.status.done::before { content: "\e5ca"; } /* Check */
button.collapse::before { content: "\e5c5"; } /* Down arrow */
.collapsed button.collapse::before { content: "\e5df"; } /* Right arrow when collapsed */

.collapseall {
	display: block;
	padding: 5px;
	margin: 5px 5px 5px 0;
	border: 0;
	background: var(--gray5);
	font-weight: bold;
	font-size: 16px;
}